.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  flex: 0 0 33.333333%;

  &-inner {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin: 10px;
    height: 100%;
    position: relative;
    padding-bottom: 60px;

    @media only screen and(max-width: 768px) {
      height: auto;
    }
  }

  &-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    padding: 1em 1em;

    .link {
      position: absolute;
      bottom: 20px;
    }
  }

  &-title {
    margin-bottom: 0.75rem;
    padding: 1em 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 75px;
  }

  &-image {
    max-height: 250px;
    @media only screen and(max-width: 768px) {
      max-height: none;
    }
  }

  &-description {
    margin-top: 10px;
  }

  &-link {
    color: rgba(0, 0, 0, 0.4);
  }

  &-content {
    padding: 20px 0;
  }

  @media only screen and(max-width: 768px) {
    flex: 0 0 100%;
  }

  &-details {
    display: block;

    img {
      max-height: none;
    }
  }
}