.country-select {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;

  button {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: pointer;
    padding: 13px;
    border-radius: 3px;


    &:hover {
      background-color: #138496;
      border-color: #117a8b;
    }

    &.active {
      background-color: #117a8b;
      border-color: #10707f;
    }

    &:disabled {
      background-color: #6c757d;
      border-color: #6c757d;
      opacity: .65;
    }
  }
}