.header {
  background-color: #343a40;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  padding: .8rem 1rem;
  margin-bottom: 20px;

  &-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
  }
}

.navigation {
  &-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  &-item {
    a {
      text-decoration: none;
      background-color: transparent;
      color: rgba(255, 255, 255, .5);
      padding-right: .5rem;
      padding-left: .5rem;

      &:hover {
        color: rgba(255, 255, 255, .75);
      }

      &.active {
        color: #fff;
      }
    }
  }
}