@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.rotate {
  transform: rotate(90deg);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }

  &__content {
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6s ease;
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
  }

  &__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }

  &:hover,
  &.active {
    background-color: #ccc;
  }
}